
<table class="table table-hover no-margins mt-4" id="notes-datatable" data-source="<%= users_path(format: :json, user_id: @user.id) %>">
<thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Body</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>

<script>
$("#notes-datatable").DataTable({
  iDisplayLength: 50,
  processing: true,
  serverSide: true,
  responsive: true,
  autoWidth: false,
  ajax: $("#notes-datatable").data("source"),
  pagingType: "full_numbers",
  columns: [
    { data: "id" },
    { data: "title" },
    { data: "body" },
    { data: "actions" },
  ],
});
</script>