<h1>Users</h1>
<table class="table table-bordered">
  <thead>
    <tr>
       <th>Name</th>
       <th>Email</th>
       <th>City</th>
       <th>State</th>
       <th>Country</th>
       <th>Contact Number</th>
    </tr>
  </thead>
  <tbody id="user_list">
    <% @user %>
  </tbody>
</table>