<div class="container mt-4">
   <div class="card position-relative" style="max-width: 50rem; margin-right: 4rem;">
      <div class="card-body ">
         <div class="row">
            <div class="col-sm-6">
                <div class="card text-bg-secondary">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Gmails</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Notes</a>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Credits</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Organizations</a>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Reports</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Reactions</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
   </div>
</div>