<div id="<%= dom_id mailer %>">
  <p>
    <strong>To:</strong>
    <%= mailer.to %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= mailer.subject %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= mailer.body %>
  </p>

</div>
