<p style="color: green"><%= notice %></p>

<h1>Mailers</h1>

<div id="mailers">
  <% @mailers.each do |mailer| %>
    <%= render mailer %>
    <p>
      <%= link_to "Show this mailer", mailer %>
    </p>
  <% end %>
</div>

<%= link_to "New mailer", new_mailer_path %>
